@import url("file:///home/jellybean/.cache/wal/colors-waybar.css");

* {
  font-family: JetBrainsMono Nerd Font, sans-serif;
  font-size: 16px;
  color: @color14; /* Light highlight */
  margin: 2px;
  background: transparent;
  border: none;
}

window#waybar {
  background: transparent;
  border-radius: 55px;
  margin: 1px 10px;
}

#workspaces {
  background: @background;
  border-radius: 80px;
  border: 2.1px solid @color14; /* Optional: Replace with @color14 in RGB if you want tighter control */
}

#workspaces button {
  color: @color4;
  background: transparent;
  border: none;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background: rgba(36, 66, 52, 0.6);
  color: @color14;
  border-radius: 100px;
}

#custom-network_speed {
  background: @background;
  border: 2px solid @color14;
  border-radius: 16px;
  margin: 2px;
  padding: 1px 4px;
  transition: padding 0.3s ease;
  color: @color14;
}

#custom-network_speed span:nth-child(2) {
  font-size: 0px;
  transition: font-size 0.3s ease;
}

/* On hover: expand padding + show the text */
#custom-network_speed:hover {
  padding: 1px 10px;
}

#custom-network_speed:hover span:nth-child(2) {
  font-size: 14px;
}




#custom-hotkey,
#custom-theme,
#bluetooth, 
#custom-power,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#custom-sep,
#cpu,
#memory,
#temperature {
  padding: 1px 10px;
  margin: 2px;
  background: @background;
  border-radius: 20px;
  border: 2.1px solid @color14;
  color: @color14;
}

#battery.charging {
  color: @color14;
  background: rgba(31, 62, 46, 0.5);
}

#battery.warning {
    color: orange;
}

@keyframes blink-animation {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


#battery.critical {
    color: red;
    animation: blink-animation 1s infinite;
}


tooltip {
  background: @background;
  border: 1px solid @color14;
  border-radius: 5px;
  padding: 4px 8px;
  color: @color14;
}

